<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621876660107-ndpjjv09re0uh8taje5mkoreo2n8ej6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621876660107-ndpjjv09re0uh8taje5mkoreo2n8ej6p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>621876660107-sedso5s8bjnr2fmeuv75fopplegkcs15.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2ThmWf01MnVih09Ek9OF1cR0CRMo3XH4</string>
	<key>GCM_SENDER_ID</key>
	<string>621876660107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.testovoe</string>
	<key>PROJECT_ID</key>
	<string>first-flutterflow-project</string>
	<key>STORAGE_BUCKET</key>
	<string>first-flutterflow-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621876660107:ios:d84c93153558b2832c118e</string>
</dict>
</plist>